**/node_modules/
**/dist/

.env
client/.env.local
client/.env.development
client/.env.production
server/.env

client/.next/
client/next-env.d.ts

Thumbs.db
.vscode/
.DS_Store

dynamodb/
shared-local-instance.db
